html, body {
    height:100%;
    margin: 10;
}

p {
    font-size: 22px;
}

.alert {
    margin-top: 29%;
    visibility: hidden;
    display: none;
}

.top-buffer {
    margin-top: 50px;
}

.panel {
    background-color: y(20, 20, 20, 0.75);
}

body {
    background: url('wallpaper.jpg');
}

#home {
    width: 20%;
}

button {
    font-family: "cursive";
}
