h1 {
    font-family: "Calibri Light";
}
h3 {
    font-family : "Times New Roman";
}
h2 {
    font-family: Garamond;
    text-align: right;
}

/*Font-size*/
body {
    font-size: 15px;
}

h1 {
    text-align: end;
}

h3 {
    text-align: center;
}